{% extends "index.html" %}
{% block content %}

    <!--details of the book-->
    <div class="container ">
        <div class=" " style="position: center">
            {% for book in info %}
                <div class="card-panel ">
                        <h4 style="text-transform: capitalize; font-family: 'Times New Roman';"><b><span >{{ book.name }}</span></b></h4>
                    {% for item  in info_author %}
                    <a href="/authors/{{ item.id }}"> <h6 style="text-transform: capitalize ;color: black"><b>{{ book.author }}</b></h6></a>
                        {% endfor %}
                        <p align="right">ISBN NO:<b>{{ book.isbn_no}}</b></p>

                </div>
                <div class="card-panel ">
                  <h6><b>About:</b> </h6>
                        <p>{{ book.description}}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
