<!DOCTYPE html>
<html>
    <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--icons for the page-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!--javacript for the pages-->
        <script type="text/javascript" src="/static/libraryApp/action.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

        <!-- the navigation bar-->
        <div class="navbar-fixed-top " >
            <nav class= "amber darken-4" style="margin-bottom:0;">
                <div class="nav-wrapper container">
                <a href="{% url 'books' %}" class="brand-logo">Library</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="{% ifequal request.path '/books' %} active {% endifequal%} {% ifequal request.path '/' %} active {% endifequal%}" ><a  href={% url 'books' %}>  <i class="material-icons left">book</i>
                    Books</a></li>
                    <li class="{% ifequal request.path '/authors'%} active {% endifequal%}"><a href={% url 'authors' %}> <i class="material-icons left">person</i> Authors</a></li>
                </ul>
                </div>
            </nav>
        </div>

        <!--for the books and authors blocks-->
        {% block content %}{% endblock %}
        {% block content1 %}{% endblock %}

    </body>
</html>








